<h2>this is the secret paage</h2>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqblxwq-GdOwvQ0uicR_A1U55PlkP2GNwKbKVQr0vb5Hu6v88j" alt="">

<li>
    <a href="/register">Register</a>
  </li>
  <li>
    <a href="/login">Login</a>
  </li>
  <li>
    <a href="/logout">Logout</a>
  </li>