<% include ./partials/header.ejs %>


<h2>login form</h2>

<form action="/login" method="POST">
  <input type="text" placeholder="username" name="username">
  <input type="password" placeholder="password" name="password">
  <button>login</button>
</form>

<% include ./partials/footer.ejs %>
