<h1>welcome to the friends page: <%=  %></h1>

<% friends.forEach(function(friend){ %>
  <li><%= friend %></li>
<% }); %>

<form action="/amis" method="POST">
  <input type="text" name="addfriend" placeholder="name">
  <button>add new friend</button>

</form>