<% include partials/header.ejs %>

<div class="container">
<h1>Welcome to the landing page</h1>

<a class = "btn btn-sm btn-primary" href="/campgrounds">view all campgrounds</a>
<br>
<br>
<a class = "btn btn-sm btn-primary" href="/campgrounds/new">Add a new camp ground</a>
<br>

<% include partials/footer.ejs %>
</div>
