<% include partials/header.ejs %>
<div class="container">
<h1>welcome to the page to create new campground</h1>

<a class = "btn btn-primary btn-md" href="/campgrounds">return to all camp ground</a>
<br>
<br>

<form action="/campground" method="POST">
  <input type="text" placeholder="name" name="title">
  <input type="text" placeholder="image url" name="image">
  <input type="text" placeholder="description" name="description">
  <button>submit</button>
</form>

<% include partials/footer.ejs %>

</div>
