<% include ./partials/header.ejs %>

<h2>signUp form</h2>

<form action="/register" method="POST">
  <input type="text" placeholder="username" name="username">
  <input type="password" placeholder="password" name="password">
  <button>SignUp</button>
</form>

<% include ./partials/footer.ejs %>
